.carousel {
    position: relative;
    width: 100%;
    height: 60vh; 
    max-width: 600px;
    overflow: hidden;
    margin: auto;
}
  
.carouselInner {
    position: relative;
    width: 100%;  
}
  
.carouselItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:80vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.carouselItem.active {
    opacity: 1;
}
  
.btnContainer {
    position: absolute;
    color: rgb(35,40,71); 
    z-index: 2;
    width: 100%;
    bottom: 100px;
    display: flex;
    justify-content: space-evenly;
  }

.btn, .btn2 {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgb(35,40,71);
    background-color: rgb(255, 255, 255);
    color: (0,191,99); 
    width: 160px;
    font-size: 16px;
    text-align: center;
    transition: .4s ease-in-out;
}

.btn2 {
    color: rgb(255, 255, 255);
    background-color: rgb(35,40,71); 
}

.btn:hover {
    cursor: pointer;
    opacity: 1;
    color: white;
    background-color: rgb(35,40,71); 
}

.btn2:hover {
    cursor: pointer;
    opacity: 1;
    color: white;
    background-color: rgb(78,68,58);  
}

.warning {
    z-index :10;
    position: absolute;
    top: 200px;
    background-color: #232847;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

.callButton {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 250px;
    padding: 16px;
    z-index: 2;
    border-radius: 20px;
    color: white;
    transition: .4s ease-in-out;
    background-color: rgb(35,40,71);
}

.callButton:hover {
    cursor: pointer;
    background-color: rgb(78,68,58);
}

.event {
    padding: 8px;
    text-align: center;
    color: rgb(78,68,58);
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
}