.banner {
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
  aspect-ratio: 1 / 1; /* carré */
  background-color: rgb(227,205,201); /* s’applique aussi en dehors de l’image si elle ne remplit pas tout */
}
