.container {
    max-width: 600px;
    margin: auto;
    color: rgb(78,68,58);
    background-color: white;
    text-align: center;
    padding: 20px 0
}

.title {
    padding: 20px;
    width: 100%;
    text-align: center;
    color: rgb(63,107,25);
}

.article {
    padding: 10px;
}

.h2 {
    padding: 10px;
    text-decoration: underline;
    text-align: center;
    font-weight: 400;
    color: rgb(35,40,71);
}

.h3 {
    margin: 40px 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: white;
    background-color: rgb(35,40,71);
}

.p {
    padding: 5px;
}

.span {
   color: rgb(63,107,25);
}