.banner {
  width: 100%;
  position: relative;
  margin: auto;
  max-width: 600px;
}

.bannerImage {
  aspect-ratio: 2 / 3; /* carré */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.callButton {
    position: absolute;
    top: 40px;
    right: 10px;
    width: 250px;
    padding: 16px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    transition: .4s ease-in-out;
    background-color: rgb(35,40,71);
}

.callButton:hover {
    cursor: pointer;
    background-color: rgb(78,68,58);
}